{% extends 'main/base.html' %}
{% load static %}
{% block cssedit %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>UX/UI дизайнер</h1>
    <p>
        {% for el in firstPhoto %}
            {% if el.task.url %}
            <img src="{{ el.task.url }} " alt="" width="1000vh" style="border-radius: 2%; border-color: black; border-style: solid">
        {% endif %}
        {% endfor %}
    </p>
    <h3>
        UX — user experience — переводится на русский язык как «пользовательский опыт». Это понятие включает в себя навигацию по сайту или приложению, состав функций внутри цифрового продукта, понятный текст.
    </h3>
    <p>
    {% for el in secondPhoto %}
            {% if el.task.url %}
            <img src="{{ el.task.url }} " alt="" width="1000vh" style="border-radius: 2%; border-color: #52d1bc; border-style: solid">
        {% endif %}
        {% endfor %}
    </p>
    <h4>UX-дизайнер — специалист, задача которого сделать продукт удобным, понятным и логичным для всех пользователей. От его работы зависит, сможет ли клиент быстро и удобно получить желаемую услугу. Перед запуском продукта он всегда совершает большую подготовительную работу: проводит аудит конкурентов, опрашивает пользователей, изучает целевую аудиторию сайта или приложения.</h4>
    <p>
    {% for el in thirdPhoto %}
            {% if el.task.url %}
            <img src="{{ el.task.url }} " alt="" width="1000vh" style="border-radius: 2%; border-color: black; border-style: solid">
        {% endif %}
        {% endfor %}
    </p>
    <h5>Дизайнер пользовательских интерфейсов гибко планирует свою работу. Это значит, что для решения конкретной задачи он может подобрать разный набор действий.
Базово можно разделить работу дизайнера на четыре этапа: исследования, проектирование, визуальный дизайн и проверка решения.</h5>
    <p>
    {% for el in fourthPhoto %}
            {% if el.task.url %}
            <img src="{{ el.task.url }} " alt="" width="1000vh" style="border-radius: 2%; border-color: #ff7e25; border-style: solid">
        {% endif %}
        {% endfor %}
    </p>
    <h5>Чтобы хорошо справляться со своей работой, UX/UI-дизайнеру нужно обладать целым комплексом навыков. Если говорить о хард-скиллах, он должен: </h5>
    <ul>
        <li>Знать основы разработки интерфейсов</li>
        <li>Уметь работать с основными веб-программами и инструментами</li>
        <li>Знать основы диджитал-маркетинга</li>
        <li>Владеть аналитическими навыками</li>
        <li>Знать визуальный язык дизайна</li>
        <li>Быть эмпатичным</li>
        <li>Стремиться к развитию и самосовершенствованию</li>
        <li>Быть усидчивым и упорным</li>
        <li>Уметь общаться</li>
        <li>Быть креативным</li>
</ul>
    <h5>Основные обязанности UI-дизайнера сводятся к следующим:</h5>
    <ul>
        <li>Проектирование страниц и экранов, с которыми взаимодействует пользователь</li>
        <li>Отрисовка кнопок, слайдеров, блоков, переключателей и других элементов</li>
        <li>Соблюдение согласованности графических элементов и их соответствия фирменному стилю</li>
        <li>Разработка руководства по оформлению программного продукта</li>
        <li>Выполнение верстки</li>
    </ul>
{% endblock %}